<% if @history.empty? %>
	<p class="text">
		Shoutz0r hasn't been on that long, so, apparently noone has voted yet. Be the first!
	</p>
<% else %>
	

	<p class="current-song">Now playing: <%= @first[:song][:artist] %> - <%= @first[:song][:title] %></p>
	
	<div id="playlist">
		<table>
			<thead>
				<tr>
					<th>song</th>
					<th width="50"></th>
				</tr>
			</thead>

			<tbody>
				<% @history.each do |s| %>
					<tr>
						<td class="song">
							<em><%= s[:song][:title] %></em><br/>
							<small><%= s[:song][:artist] %><br/></small>
						</td>
						<td class="play-at"><%= s[:played_at].strftime("%H:%M") %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>