<% list = Array(list) %>

<div id="songlist">

	<% if not list.empty? then %>
		<table>
			<thead>
				<tr>
					<th class="title">Title</th>
					<th class="album">Album</th>
					<th class="artist">Artist</th>
					<th class="tracklength">Length</th>
				</tr>
			</thead>
			<tbody>
				<% list.each_with_index do |row, idx| %>
					<tr class="<%= idx % 2 == 0 ? 'even' : 'odd' %>" data-vote-url="<%= url_for :action => :vote_for, :controller => :vote, :id => row.id %>">
						<td class="title"><%= row.title %></td>
						<td><%= row.artist %></td>
						<td><%= row.album %></td>
						<td class="tracklength"><%= row.track_length %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

	<% else %>
		<p>
			There are no results for your search
		</p>
	<% end %>

</div>