<% list = Array(list) %>

<div id="songlist">

	<% if not list.empty? then %>
		<table>
			<tr>
				<th class="title">Title</th>
				<th class="album">Album</th>
				<th class="artist">Artist</th>
				<th class="tracklength">Length</th>
				<th class="options">&nbsp;</th>
			</tr>

			<% list.each_with_index do |row, idx| %>
				<tr class="<%= idx % 2 == 0 ? 'even' : 'odd' %>">
					<td><%= row.title %></td>
					<td><%= row.artist %></td>
					<td><%= row.album %></td>
					<td><%= row.track_length %></td>
					<td>
						<%= link_to "vote", {:action => :vote_for, :controller => :vote, :id => row.id}, :remote => true %>
					</td>
				</tr>
			<% end %>
		</table>

	<% else %>
		<p>
			There are no results for your search
		</p>
	<% end %>

</div>