<!DOCTYPE html>
<html>
	<head>
		<title>Shoutzor - Class '12 - <%= yield :pagetitle %></title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
	</head>
	<body class="fire loginpage">

		<div class="login-container">
			<canvas id="effect"></canvas>
			<div id="loginbox">
				<%= yield %>
			</div>
			<p class="copyright">
				Shoutzor 2012 &copy; Marnix Kok
			</p>
		</div>

		<%= javascript_include_tag "application" %>

	</body>
</html>
